h1 {
    text-align: center;
    color: #006a4d;
    font-family: 'Orbitron', sans-serif;
    padding-top: 15px;
    padding-bottom: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 350px;
    background-color: #cacaca;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
#display-screen {
    
    height: 50px;
    background-color: whitesmoke;
    border-width: 1px;
    border-style: solid;
    border-color: #006a4d;
    border-radius: 3px;
    margin: 10px;
    font-family: sans-serif;
}
.divClass {
    display: flex;
    justify-content: space-between;
}

.button {
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    font-size: 15px;
    color: #006a4d;
    font-family: sans-serif;
    padding: 10px;
    margin: 10px; 
    border-width: 1px;
    border-style: solid;
    border-color: #006a4d;
    border-radius: 5px; 
}
#button17, #button18, #button19 {
    width: 100px;
    height: 50px;
    background-color: whitesmoke;
    font-size: 15px;
    color: #006a4d;
    font-family: sans-serif;
    padding: 10px;
    margin: 10px; 
    border-width: 1px;
    border-style: solid;
    border-color: #006a4d;
    border-radius: 5px; 

}